---
apiVersion: "v1"
kind: "ConfigMap"
metadata:
  name: "hives-pages-config-x0rm"
  namespace: "default"
  labels:
    app: "hives-pages"
data:
  APP_NAME: Page Service
  APP_VERSION: v1
  APP_ENV: production
  HTTP_HOST: "0.0.0.0"
  HTTP_PORT: "8080"
  HTTP_WRITE_TIME_OUT: 150s
  HTTP_READ_TIME_OUT: 150s
  HTTP_IDLE_TIME_OUT: 150s
  CONN_MAX_LIFE_TIME: 150s
  MAX_IDLE_CONNS: "10"
  MAX_OPEN_CONNS: "10"
  MYSQL_DATABASE: Yoeri
  MYSQL_USERNAME: yoeri
  MYSQL_PASSWORD: Veiligheid11
  MYSQL_HOST: "80.56.132.146"
  MYSQL_PORT: "3306"
---
apiVersion: "apps/v1"
kind: "Deployment"
metadata:
  name: "hives-pages"
  namespace: "default"
  labels:
    app: "hives-pages"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: "hives-pages"
  template:
    metadata:
      labels:
        app: "hives-pages"
    spec:
      containers:
      - name: "hives-pages-sha256-1"
        image: "gcr.io/alert-sunspot-369610/hives-pages:latest"
        env:
        - name: "APP_NAME"
          valueFrom:
            configMapKeyRef:
              key: "APP_NAME"
              name: "hives-pages-config-x0rm"
        - name: "APP_VERSION"
          valueFrom:
            configMapKeyRef:
              key: "APP_VERSION"
              name: "hives-pages-config-x0rm"
        - name: "APP_ENV"
          valueFrom:
            configMapKeyRef:
              key: "APP_ENV"
              name: "hives-pages-config-x0rm"
        - name: "HTTP_HOST"
          valueFrom:
            configMapKeyRef:
              key: "HTTP_HOST"
              name: "hives-pages-config-x0rm"
        - name: "HTTP_PORT"
          valueFrom:
            configMapKeyRef:
              key: "HTTP_PORT"
              name: "hives-pages-config-x0rm"
        - name: "HTTP_WRITE_TIME_OUT"
          valueFrom:
            configMapKeyRef:
              key: "HTTP_WRITE_TIME_OUT"
              name: "hives-pages-config-x0rm"
        - name: "HTTP_READ_TIME_OUT"
          valueFrom:
            configMapKeyRef:
              key: "HTTP_READ_TIME_OUT"
              name: "hives-pages-config-x0rm"
        - name: "HTTP_IDLE_TIME_OUT"
          valueFrom:
            configMapKeyRef:
              key: "HTTP_IDLE_TIME_OUT"
              name: "hives-pages-config-x0rm"
        - name: "CONN_MAX_LIFE_TIME"
          valueFrom:
            configMapKeyRef:
              key: "CONN_MAX_LIFE_TIME"
              name: "hives-pages-config-x0rm"
        - name: "MAX_IDLE_CONNS"
          valueFrom:
            configMapKeyRef:
              key: "MAX_IDLE_CONNS"
              name: "hives-pages-config-x0rm"
        - name: "MAX_OPEN_CONNS"
          valueFrom:
            configMapKeyRef:
              key: "MAX_OPEN_CONNS"
              name: "hives-pages-config-x0rm"
        - name: "MYSQL_DATABASE"
          valueFrom:
            configMapKeyRef:
              key: "MYSQL_DATABASE"
              name: "hives-pages-config-x0rm"
        - name: "MYSQL_USERNAME"
          valueFrom:
            configMapKeyRef:
              key: "MYSQL_USERNAME"
              name: "hives-pages-config-x0rm"
        - name: "MYSQL_PASSWORD"
          valueFrom:
            configMapKeyRef:
              key: "MYSQL_PASSWORD"
              name: "hives-pages-config-x0rm"
        - name: "MYSQL_PORT"
          valueFrom:
            configMapKeyRef:
              key: "MYSQL_PORT"
              name: "hives-pages-config-x0rm"
        - name: "MYSQL_HOST"
          valueFrom:
            configMapKeyRef:
              key: "MYSQL_HOST"
              name: "hives-pages-config-x0rm"
---
apiVersion: "autoscaling/v2"
kind: "HorizontalPodAutoscaler"
metadata:
  name: "hives-pages-hpa-3ayr"
  namespace: "default"
  labels:
    app: "hives-pages"
spec:
  scaleTargetRef:
    kind: "Deployment"
    name: "hives-pages"
    apiVersion: "apps/v1"
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: "Resource"
    resource:
      name: "cpu"
      target:
        type: "Utilization"
        averageUtilization: 80
